*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.main::after {
    content: "";
    clear:both;
    display:table
}

.menu::after {
    content: "";
    clear:both;
    display:table
}


/*responsive*/
[class*="mycol-"] {
  float: left;
  width: 100%;
}


@media only screen and (min-width: 600px) {
  .mycol-s-1 {width: 8.33%;}
  .mycol-s-2 {width: 16.66%;}
  .mycol-s-3 {width: 25%;}
  .mycol-s-4 {width: 33.33%;}
  .mycol-s-5 {width: 41.66%;}
  .mycol-s-6 {width: 50%;}
  .mycol-s-7 {width: 58.33%;}
  .mycol-s-8 {width: 66.66%;}
  .mycol-s-9 {width: 75%;}
  .mycol-s-10 {width: 83.33%;}
  .mycol-s-11 {width: 91.66%;}
  .mycol-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  .mycol-1 {width: 8.33%;}
  .mycol-2 {width: 16.66%;}
  .mycol-3 {width: 25%;}
  .mycol-4 {width: 33.33%;}
  .mycol-5 {width: 41.66%;}
  .mycol-6 {width: 50%;}
  .mycol-7 {width: 58.33%;}
  .mycol-8 {width: 66.66%;}
  .mycol-9 {width: 75%;}
  .mycol-10 {width: 83.33%;}
  .mycol-11 {width: 91.66%;}
  .mycol-12 {width: 100%;}
}

/*menu, will become buttons*/
.menu {
    padding: 3%;
    background: rgb(248, 249, 255);
    text-align: center;
}

/*front page with h1, paragraphs and photo links*/
.main {
    padding: 5%;
    font-size: large;
    background: rgb(239, 242, 255);
} 


/* h1 SDG settings*/
h1, h3 {
    text-align: center;
    margin: 50px;
    color:rgb(39, 57, 151);
}

/*photo settings*/
img {
    max-width: 100%;
    height: auto;
    padding: 5%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*paragraph settings*/
p {
    width: 100%;
    padding: 5%;
}
