<!DOCTYPE html>
<html>
    <head>
        <title>Berry Project</title>
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='aboutus.css') }}" rel="stylesheet">
    </head>

    <body><!--Menu with links-->
        <nav>
        <div class="menu">
            <div class="col-3"><a href='/index'>Main page</a></div>
            <div class="col-3"><a href='/aboutus'>Video and about us</a></div>
            <div class="col-3"><a href='/datainf'>Data analytics</a></div>
            <div class="col-3"><a href='/sustainability'>sustainability</a></div>
        </div>
        </nav>



    <div class="aboutsection">
        <h1>Our Team</h1>
    </div>

        <div class="main">
        <div class="row">
           

            
            <div class="col-1 col-s-12"><p></p></div>
            <!--photos with description-->
            <div class="col-2 col-s-12">
            <div class="img">
                <img src ="{{ url_for('static', filename='Emiliia.png') }}" alt="Emiliia">
                <h3>Emiliia</h3>
                <p>Machine learning and data engineering student</p>
                <a href="{{ url_for('static', filename='Emiliia Zemskova - CV.pdf') }}">CV</a>
            </div>
            </div>
            
            <div class="col-2 col-s-12">
            <div class="img">
                <img src ="{{ url_for('static', filename='MR.jpg') }}" alt="Miki">
                <h3>Miki</h3>
                <p>Machine learning and data engineering student</p>
                <a href="{{ url_for('static', filename='Miklos_Rezmuves_CV.pdf') }}">CV</a>
            </div>
            </div>
            
            <div class="col-2 col-s-12">
            <div class="img">
                <img src ="{{ url_for('static', filename='Meri.jpg') }}" alt="Meri">
                <h3>Meri</h3>
                <p>Machine learning and data engineering student</p>
                <a href="{{ url_for('static', filename='CV Meri.pdf') }}">CV</a>
            </div>
            </div>
            
            <div class="col-2 col-s-12">
            <div class="img">
                <img src ="{{ url_for('static', filename='IVAN.jpg') }}" alt="Ivan">
                <h3>Ivan</h3>
                <p>Machine learning and data engineering student</p>
                <a href="{{ url_for('static', filename='cv_IK.png') }}">CV</a>
            </div>
            </div>
            
            <div class="col-2 col-s-12">
            <div class="img">
                <img src ="{{ url_for('static', filename='Ivans.jpg') }}" alt="Ivans">
                <h3>Ivan S</h3>
                <p>Machine learning and data engineering student</p>
                <a href="{{ url_for('static', filename='cv_IK.png') }}">CV</a>
            </div>
            </div>
            <div class="col-1 col-s-12"><p></p></div>
        </div>
        </div>


        <footer>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/poahFdBV1AA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </footer>

    </body>
</html>
