<!DOCTYPE html>
<html>
    <head>
        <title>Berry Project</title>
        <meta charset="utf-8">
        <link href="berries.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4354658068.js" crossorigin="anonymous"></script>
    </head>

    <body><!--Menu with links-->
        <nav>
        <div class="menu">
            <div class="col-3"><a href='index.html'>Main page</a></div>
            <div class="col-3"><a href='aboutus.html'>Video and about us</a></div>
            <div class="col-3"><a href='datainf.html'>Data analitics</a></div>
            <div class="col-3"><a href='sustainability.html'>sustainability</a></div>
        </div>
        </nav>
    </body>
        
       
    <div class="aboutsection">
        <h1>Our Team</h1>
        </div>

        <div class="main">
        <div class="row">
           

            

            <!--photos with description-->
           
            <div id="img1">
                <img src ="Emiliia.png" height="500px" width="500px" alt="Emiliia">
                <p>Emiliia</p>
                <p>Machine learning and data engineering student</p>
                <a href="Emiliia Zemskova - CV.pdf">CV</a>
             </div>
             
             <div id="img2">
                <img src ="MR.jpg" height="400px" width="400px" alt="Miki">
                <p>Miki</p>
                <p>Machine learning and data engineering student</p>
                <a href="Miklos_Rezmuves_CV.pdf">CV</a>
             </div>
             <div id="img3">
                <img src ="Meri.jpg" height="400px" width="400px" alt="Meri">
                <p>Meri</p>
                <p>Machine learning and data engineering student</p>
                <a href="CV Meri.pdf">CV</a>
             </div>
             <div id="img4">
                <img src ="IVAN.jpg" height="650px" width="400px" alt="Ivan">
                <p>Ivan</p>
                <p>Machine learning and data engineering student</p>
                <a href="cv_IK.png">CV</a>
             </div>
             <div id="img5">
                <img src ="Ivans.jpg" height="400px" width="400px" alt="Ivans">
                <p>Ivan S</p>
                <p>Machine learning and data engineering student</p>
                <a href="cv_IK.png">CV</a>
             </div>
        </div>
        </div>

        <footer>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/b80uJIqn4gE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </footer>
       <script>

       </script>
    </nav> 
    </body>
</html>
