<!DOCTYPE html>
<html>
    <head>
        <title>Berry Project</title>
        <meta charset="utf-8">
        <link href="berries.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4354658068.js" crossorigin="anonymous"></script>
    </head>

    
    <body><!--Menu with links-->
        <nav>
        <div class="menu">
            <div class="col-3"><a href='index.html'>Main page</a></div>
            <div class="col-3"><a href='aboutus.html'>Video and about us</a></div>
            <div class="col-3"><a href='datainf.html'>Data analitics</a></div>
            <div class="col-3"><a href='sustainability.html'>Sustainability</a></div>
        </div>
        </nav>
    </body
        
    
        <!--header-->
        
        <header>Visualization of berry data</header>


        <div class="main">
        <div class="row">
           

            <!--a photo of something, groupwork maybe?-->
            <div class="col-6 col-s-12">
                <img src="group1.jpg">
            </div>

            <!--explain here about the project, us etc-->
            <div class="col-6 col-s-12">

                <h1>What are we doing</h1>

                <p>We have project assignment for spring 2023 “Visualization of berry data”</p>
                <p>
                    Goal of our project is creating a website that promotes sustainable development (SDG) values and demonstrate outcomes of data. The project utilizes data from the Natural Resources Center and open data (e.g. Finnish Meteorological Institute)

The project outcomes will be presented on project exhibition on April 27, 2023
                </p>
            </div>
        </div>
        </div>

        <footer>
            <div class="row">
                <div class="list">
                <div class="col-6 col-s-12">
                    <h2>Contacts</h2>
                    <p>Ivan Khomyanin,  ikhomyan@edu.lapinamk.fi</p>
                    <p>Miklós Rézmüves, miklos.rezmuves@edu.lapinamk.fi</p>
                    <p>Meri Erkkilä, mererkki@edu.lapinamk.fi</p>
                    <p>Emiliia Zemskova, emiliia.zemskova@edu.lapinamk.fi</p>
                    <p>Ivan Sychevskiy isychev@edu.lapinamk.fi</p>
                    <br>
                    
                    <i class="fa-solid fa-phone fa-2xl"></i>
                </div>
                </div>
                <div class="map">
                <div class="col-6 col-s-12" id="map">
                    <img src="map.jpg">
                </div>
                </div>
            </div>
        </footer>

       <script>

       </script> 
   
</html>
