<!DOCTYPE html>
<html>
    <head>
        <title>Berry Project</title>
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='berries.css') }}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4354658068.js" crossorigin="anonymous"></script>
    </head>

    
    <body><!--Menu with links-->
        <nav>
        <div class="menu">
            <div class="col-3"><a href='/index'>Main page</a></div>
            <div class="col-3"><a href='/aboutus'>Video and about us</a></div>
            <div class="col-3"><a href='/datainf'>Data analitics</a></div>
            <div class="col-3"><a href='/sustainability'>Sustainability</a></div>
        </div>
        </nav>
    </body
        
    
        <!--header-->

        <header>Visualization of berry data</header>


        <div class="main">
        <div class="row">
           

            <!--a photo of something, groupwork maybe?-->
            <div class="col-6 col-s-12">
                <img src="{{ url_for('static', filename='group1.jpg') }}">
            </div>

            <!--explain here about the project, us etc-->
            <div class="col-6 col-s-12">

                <h1>Information about project</h1>

                <p>We have project assignment for spring 2023 “Visualization of berry data”. 
                    Goal of our project was creating a website that promotes sustainable development 
                    (SDG) values and demonstrate outcomes of data. The project utilizes data from 
                    the Natural Resources Center and open data from elsewhere (e.g. Finnish 
                    Meteorological Institute).</p>
                <p>
                    Our group decided to focus on the correlation of location of the berries to their 
                growth. We also connected the berry growth to sustainable development goals, focusing 
                on goals 2, 11 and 15. Findings of our research can be found on the other pages.
                Our team consists of five people, among who we divided our work. Our project manager, 
                Emiliia Zemskova, focused on creating the introduction video for us. Website for the 
                project was created by Meri Erkkilä and Ivan Sychevskiy using HTML, CSS and JavaScript. 
                Miklós Rézmüves and Ivan Khomyanin worked with the data and found the correlations. 
                More info about our team members and roles can be found from the video and page "about us".
            
                </p>
                <p>
                    The project outcomes will be presented on project exhibition on April 27, 2023</p>
            </div>
        </div>
        </div>

        <footer>
            <div class="row">
                <div class="list">
                <div class="col-6 col-s-12">
                    <h2>Contacts</h2>
                    <p>Ivan Khomyanin,  ikhomyan@edu.lapinamk.fi</p>
                    <p>Miklós Rézmüves, miklos.rezmuves@edu.lapinamk.fi</p>
                    <p>Meri Erkkilä, mererkki@edu.lapinamk.fi</p>
                    <p>Emiliia Zemskova, emiliia.zemskova@edu.lapinamk.fi</p>
                    <p>Ivan Sychevskiy isychev@edu.lapinamk.fi</p>
                    <br>
                    
                    <i class="fa-solid fa-phone fa-2xl"></i>
                </div>
                </div>
                <div class="map">
                <div class="col-6 col-s-12" id="map">
                    <img src="{{ url_for('static', filename='map.jpg') }}">
                </div>
                </div>
            </div>
        </footer>

       <script>

       </script> 
   
</html>
