<!DOCTYPE html>
<html>
    <head>
        <title>Berry Project</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="{{ url_for('static', filename='sdg.css') }}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    </head>

    <body>
        <!--Menu, will be made to buttons for changing page-->
        <div class="menu">
            <div class="mycol-3">Main page</div>
            <div class="mycol-3">Video and about us</div>
            <div class="mycol-3">Data thingies</div>
            <div class="mycol-3">Sustainability</div>
        </div>

        <!--photos with modals, paragraphs-->
        <div class="main">
            <h1>Sustainable development values</h1><br>
        
        <div class="row">
            <div class="mycol-2 mycol-s-4">
            <div class="sdg1" onclick="openModal('SDG 1', 'This is the content for SDG 1.')">
            <img src="{{ url_for('static', filename='sdg1.jpg') }}" class="image">
            </div>
            </div>
        
            <div class="mycol-2 mycol-s-4">
            <div class="sdg2" onclick="openModal('SDG 2', 'This is the content for SDG 2.')">
            <img src="{{ url_for('static', filename='sdg2.jpg') }}" class="image">
            </div>
            </div>

            <div class="mycol-2 mycol-s-4">
            <div class="sdg3" onclick="openModal('SDG 3', 'This is the content for SDG 3.')">
            <img src="{{ url_for('static', filename='sdg3.jpg') }}" class="image">
            </div>
            </div>

            <div class="mycol-2 mycol-s-4">
            <div class="sdg4" onclick="openModal('SDG 4', 'This is the content for SDG 4.')">
            <img src="{{ url_for('static', filename='sdg4.jpg') }}" class="image">
            </div>
            </div>

            <div class="mycol-2 mycol-s-4">
            <div class="sdg5" onclick="openModal('SDG 5', 'This is the content for SDG 5.')">
            <img src="{{ url_for('static', filename='sdg5.jpg') }}" class="image">
            </div>
            </div>

            <div class="mycol-2 mycol-s-4">
            <div class="sdg6" onclick="openModal('SDG 6', 'This is the content for SDG 6.')">
            <img src="{{ url_for('static', filename='sdg6.jpg') }}" class="image">
            </div>
            </div>
        </div>

        <div class="row">
            <div class="mycol-2 mycol-s-4">
            <div class="sdg7" onclick="openModal('SDG 7', 'This is the content for SDG 7.')">
            <img src="{{ url_for('static', filename='sdg7.jpg') }}" class="image">
            </div>
            </div>

            <div class="mycol-2 mycol-s-4">
            <div class="sdg8" onclick="openModal('SDG 8', 'This is the content for SDG 8.')">
            <img src="{{ url_for('static', filename='sdg8.jpg') }}" class="image">
            </div>
            </div>

            <div class="mycol-2 mycol-s-4">
            <div class="sdg9" onclick="openModal('SDG 9', 'This is the content for SDG 9.')">
            <img src="{{ url_for('static', filename='sdg9.jpg') }}" class="image">
            </div>
            </div>

            <div class="mycol-2 mycol-s-4">
            <div class="sdg10" onclick="openModal('SDG 10', 'This is the content for SDG 10.')">
            <img src="{{ url_for('static', filename='sdg10.jpg') }}" class="image">
            </div>
            </div>

            <div class="mycol-2 mycol-s-4">
            <div class="sdg11" onclick="openModal('SDG 11', 'This is the content for SDG 11.')">
            <img src="{{ url_for('static', filename='sdg11.jpg') }}" class="image">
            </div>
            </div>

            <div class="mycol-2 mycol-s-4">
            <div class="sdg12" onclick="openModal('SDG 12', 'This is the content for SDG 12.')">
            <img src="{{ url_for('static', filename='sdg12.jpg') }}" class="image">
            </div>
            </div>
        </div>

        <div class="row">
            <div class="mycol-2 mycol-s-4">
            <div class="sdg13" onclick="openModal('SDG 13', 'This is the content for SDG 13.')">
            <img src="{{ url_for('static', filename='sdg13.jpg') }}" class="image">
            </div>
            </div>

            <div class="mycol-2 mycol-s-4">
            <div class="sdg14" onclick="openModal('SDG 14', 'This is the content for SDG 14.')">
            <img src="{{ url_for('static', filename='sdg14.jpg') }}" class="image">
            </div>
            </div>

            <div class="mycol-2 mycol-s-4">
            <div class="sdg15" onclick="openModal('SDG 15', 'This is the content for SDG 15.')">
            <img src="{{ url_for('static', filename='sdg15.jpg') }}" class="image">
            </div>
            </div>

            <div class="mycol-2 mycol-s-4">
            <div class="sdg16" onclick="openModal('SDG 16', 'This is the content for SDG 16.')">
            <img src="{{ url_for('static', filename='sdg16.jpg') }}" class="image">
            </div>
            </div>

            <div class="mycol-2 mycol-s-4">
            <div class="sdg17" onclick="openModal('SDG 17', 'This is the content for SDG 17.')">
            <img src="{{ url_for('static', filename='sdg17.jpg') }}" class="image">
            </div>
            </div>
        </div>

        <br>
            <!--paragraphs-->
            <div class="row">
            <div class="mycol-6 mycol-s-12">
                <h3>alnkrofa ifwjfa</h3>
                <p>inaelk nv öoainv öoar invöoalrkn vaöoln vaolvn aörlvnäofn fnlfk nfl 
                    kfk fnvlfnvl kf nlfknöflkfö lkvöfk lmv fömvf mvöfnkfsnv maörgl rwaöglknmrgn-
                    lkgninaelk nv öoainv öoar invöoalrkn vaöoln vaolvn aörlvnäofn fnlfk nfl 
                    kfk fnvlfnvl kf nlfknöflkfö lkvöfk lmv fömvf mvöfnkfsnv maörgl rwaöglknmrgn-
                    lkgninaelk nv öoainv öoar invöoalrkn vaöoln vaolvn aörlvnäofn fnlfk nfl 
                    kfk fnvlfnvl kf nlfknöflkfö lkvöfk lmv fömvf mvöfnkfsnv maörgl rwaöglknmrgn-
                    lkgninaelk nv öoainv öoar invöoalrkn vaöoln vaolvn aörlvnäofn fnlfk nfl 
                    kfk fnvlfnvl kf nlfknöflkfö lkvöfk lmv fömvf mvöfnkfsnv maörgl rwaöglknmrgn-
                    lkgninaelk nv öoainv öoar invöoalrkn vaöoln vaolvn aörlvnäofn fnlfk nfl 
                    kfk fnvlfnvl kf nlfknöflkfö lkvöfk lmv fömvf mvöfnkfsnv maörgl rwaöglknmrgn-
                    lkgninaelk nv öoainv öoar invöoalrkn vaöoln vaolvn aörlvnäofn fnlfk nfl 
                    kfk fnvlfnvl kf nlfknöflkfö lkvöfk lmv fömvf mvöfnkfsnv maörgl rwaöglknmrgn-lkgn</p>
            </div>

            <div class="mycol-6 mycol-s-12">
                <h3>alnkrofa ifwjfa</h3>
                <p>inaelk nv öoainv öoar invöoalrkn vaöoln vaolvn aörlvnäofn fnlfk nfl 
                    kfk fnvlfnvl kf nlfknöflkfö lkvöfk lmv fömvf mvöfnkfsnv maörgl rwaöglknmrgn-
                    lkgninaelk nv öoainv öoar invöoalrkn vaöoln vaolvn aörlvnäofn fnlfk nfl 
                    kfk fnvlfnvl kf nlfknöflkfö lkvöfk lmv fömvf mvöfnkfsnv maörgl rwaöglknmrgn-
                    lkgninaelk nv öoainv öoar invöoalrkn vaöoln vaolvn aörlvnäofn fnlfk nfl 
                    kfk fnvlfnvl kf nlfknöflkfö lkvöfk lmv fömvf mvöfnkfsnv maörgl rwaöglknmrgn-
                    lkgninaelk nv öoainv öoar invöoalrkn vaöoln vaolvn aörlvnäofn fnlfk nfl 
                    kfk fnvlfnvl kf nlfknöflkfö lkvöfk lmv fömvf mvöfnkfsnv maörgl rwaöglknmrgn-
                    lkgninaelk nv öoainv öoar invöoalrkn vaöoln vaolvn aörlvnäofn fnlfk nfl 
                    kfk fnvlfnvl kf nlfknöflkfö lkvöfk lmv fömvf mvöfnkfsnv maörgl rwaöglknmrgn-
                    lkgninaelk nv öoainv öoar invöoalrkn vaöoln vaolvn aörlvnäofn fnlfk nfl 
                    kfk fnvlfnvl kf nlfknöflkfö lkvöfk lmv fömvf mvöfnkfsnv maörgl rwaöglknmrgn-lkgn</p>
            </div>
            </div>
            <!--this code is basically straight copied from internet, makes the modals apparently-->
            <div class="modal" id="sdgModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title"></h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              
       <script>

            function openModal(title, content) {
                var modal = document.getElementById("sdgModal");
                var modalTitle = modal.querySelector(".modal-title");
                var modalBody = modal.querySelector(".modal-body");
                
                modalTitle.textContent = title;
                modalBody.textContent = content;
                
                $(modal).modal("show");
            }

       </script> 
    </body>
</html>
